# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Dependencias y build del frontend
Proyecto/frontend/node_modules/
Proyecto/frontend/dist/
Proyecto/frontend/dist-ssr/
Proyecto/frontend/*.local

# Dependencias y build del backend
Proyecto/backend/node_modules/
Proyecto/backend/dist/
Proyecto/backend/uploads/

# Archivos de entorno
**/.env

# Configuración de editores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros 
coverage
gcp-key.json
