/* src/Pages/Home/Home.module.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Contenedor de la pantalla completa */
.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

/* Navbar */
/* Navbar */
.navbar {
  width: 100%;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  /* Estas dos líneas son la clave */
  background-color: rgb(1, 1, 41); /* Un fondo oscuro con transparencia */
  backdrop-filter: blur(2px); /* Agrega un efecto de desenfoque al fondo para mejorar la visibilidad */
}

.brand {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contenido Principal (Hero) */
.hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentContainer {
  z-index: 1;
}

.title {
  font-size: 3rem; /* Tamaño más pequeño para la fuente */
  margin-bottom: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.subtitle {
  font-size: 1rem; /* Tamaño más pequeño para el subtítulo */
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contenedor de Botones */
.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Botones */
.btn {
  /* Propiedades para asegurar que el tamaño se aplique */
  display: inline-block;
  min-width: 250px; /* Un tamaño mínimo para que no se deformen */
  padding: 12px 3px; 
  
  /* Resto de estilos */
  border-radius: 12px;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  transform: translateY(-5px);
}

.btnPrimary {
  background-color: #e8e267;
  color: #000000;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
}

.btnSecondary {
  background-color: #65d8ef;
  color: #000000;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
}